services:
  orchestrator:
    image: harbor.cloud.infn.it/datacloud-middleware/orchestrator-rest-api:main
    container_name: orchestrator
    restart: unless-stopped
    depends_on:
      - db
      - opa
    ports:
      - 8000:80
    environment:
      DB_NAME: orchestrator
      DB_USER: orchestrator
      DB_PASSWORD: changeit
      DB_SCHEME: mysql+pymysql
      DB_HOST: orchestrator-db
      DB_PORT: 3306
      AUTHN_MODE: local
      AUTHZ_MODE: opa 
    networks:
      - orchestrator-net

  db:
    image: mysql:8
    container_name: orchestrator-db
    restart: unless-stopped
    ports:
      - 3306:3306
    volumes:
      - db-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: changeit
      MYSQL_DATABASE: orchestrator
      MYSQL_USER: orchestrator
      MYSQL_PASSWORD: changeit
    networks:
      - orchestrator-net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-p${MYSQL_ROOT_PASSWORD}", "--silent"]
      interval: 5s
      timeout: 5s
      retries: 50

  opa:
    image: openpolicyagent/opa
    container_name: opa
    ports:
      - 8181:8181
    volumes:
      - ../opa/data:/orchestrator:ro
    command: run --server --log-level debug --addr 0.0.0.0:8181 /orchestrator

networks:
  orchestrator-net:

volumes:
  db-data: